<h2>Vehicles</h2>
<p><a class="btn btn-primary" [routerLink]="['/vehicles/new']" routerLinkActive="router-link-active" >New Vehicle</a></p>
<div class="well">
    <div class="form-group">
        <label for="make">Make</label>
        <select class="form-control" name="make" id="make" [(ngModel)]="filter.makeId"   (change)="onFilterChange()" >
          <option value=""></option>
          <option *ngFor="let m of this.makes" value="{{m.id}}" >{{m.name}}</option>
        </select>
      </div>
      <button class="btn btn-primary" (click)="onFilterReset()" >Reset</button>
</div>


<table class="table">
  <thead>
    <tr>
        <th *ngFor="let col of this.columns">
          <div *ngIf=col.isSortable  (click)="sortBy(col.sortBy)" >{{col.title}}
            <i *ngIf="this.filter.sortBy===col.sortBy"  
            class="fa"
            [class.fa-sort-asc]="this.filter.isSortAscen"
            [class.fa-sort-desc]="!this.filter.isSortAscen"></i>
          </div>
          <div *ngIf=!col.isSortable >{{col.title}}</div>
        </th>
    

      <!-- <td (click)="sortBy('id')">Id</td>
      <td (click)="sortBy('make')">
          Make<i *ngIf="this.filter.sortBy==='make'"  
        class="fa"
        [class.fa-sort-asc]="this.filter.isSortAscen"
        [class.fa-sort-desc]="!this.filter.isSortAscen"></i>
       </td>
      <td (click)="sortBy('model')">Model</td>
      <td (click)="sortBy('contact')">Contact</td>
      <td></td> -->
    </tr> 
  </thead>

  <tbody>
  <tr *ngFor="let item of this.vehicles">
      <td>{{item.id}}</td>
      <td>{{item.make.name}}</td>
      <td>{{item.model.name}}</td>
      <td>{{item.contact.name}}</td>
      <td><a [routerLink]="['/vehicles/',item.id]" routerLinkActive="router-link-active" >View</a></td>
    </tr>
  </tbody>
</table>
<app-pagination [page-size]="this.filter.pageSize" [total-items]="this.filter.totalItems" (page-changed)=onPageChanged($event) ></app-pagination>
